@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;1,500&family=DM+Sans:wght@400;500;700&family=Pacifico&family=Poppins:wght@400;500;700&display=swap');

/*
font-family: 'Cuprum', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
*/

:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292d;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}

html, body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    color: var(--text-color);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    color: var(--header-text);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: var(--dark-bg);
    background-image: url('./img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}
    
.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}
    
.header__text p+p {
    margin-top: 0.5em;
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 48px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;

    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1px;
}

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--accent);
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
   max-width: 370px;
   background-color: var(--white);
   box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}

.project__img {
    border-radius: 10px;
}

.project__title {
    padding: 15px 20px 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: var(--black);
}

.project-details {
    margin: 0 auto;
    max-width: 865px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details__cover {
    max-width: 100%;
    margin-bottom: 40px;

    filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
}

.btn-outlin {
    display: flex;
    column-gap: 10px;
    align-items: center;

    height: 48px;
    padding: 12px 20px;
    border-radius: 5px;

    border: 1px solid #000;
    color: #000;
    
    transition: opacity 0.2s ease-in;
}

.btn-outlin:hover {
    opacity: 0.8;
}

.btn-outlin:active {
    position: relative;
    top: 1px;
}

.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--dark-bg);
    color: var(--header-text);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 27px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
}

.copyright p+p {
    margin-top: 0.5em;
}
.copyright p {
    text-align: center;
}

.content-list {
    margin: 0 auto;
   max-width: 570px;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 40px;
   text-align: center;
}

.content-list a {
   color: var(--accent);
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p+p {
    margin-top: 0.5em;
}

.title2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

@media (max-width: 620px) {
    .header {
        min-height: unset;
    } 

    .header__title {
        font-size: 30px;
    }


    .header__title strong {
        font-size: 40px;
    }

    .section {
        font-size: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .project__title {
        font-size: 22px;
    }

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        column-gap: 20px;
    }

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}




